:root {
    --bg-color-light: #fff; 
    --border-color-light: #fdb409;
    --text-color-light: black; 
    --bg-color-dark: #242222;
    --bg-color-dark2: #6e6646;
    --text-color-dark: #fff;
  }

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.left-menu {
    width: 14.65%;
    height: 100%;
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: fixed;
    box-shadow: 1px 1px 30px  #6d600c09;
    border: none;
    min-width: 200px;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.Right-menu {
    margin-left: 14.65%;
    width: 100%;
    height: 100%;
    background-color: #fff9e9;
    display: flex;
    align-items: center;
    background-image: url("/Related-files/bg.svg" );
    background-size: contain;
    background-position: center;
    transition: 0.5s;
    display: flex;
    flex-direction: column;

}
button{
    height: 50px;
    border-radius: 12px;
    border: none;
    width: 100%;
    font-size: large;
    font-weight: 600;
    padding-left: 0;
}

.inner-menu,.sub-menu,.bottom-menu{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 42vmin;
    position: relative;
    align-items: center;
}
.inner-menu{
    height: 100%;
    justify-content: space-between;
}
.inner-menu button
{
    text-decoration: none;
    border-radius: 0;
    margin-bottom: 5%;
    color: var(--text-color-light);
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: transparent;
    border:none;
    transition-duration: 200ms;
}
.inner-menu button img
{
    margin-right: 5px;
}
header{
    display: flex;
    position: relative;
}
header .toggle{
    position: absolute;
    top: 50%;
    right: -55%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
}
.left-menu button:hover,.left-menu button:focus{
    border: 3.5px solid #fdb409;
    outline: none;
    box-shadow: 1px 1px 10px  #6d600c04;
    margin-left: 10px;
    scale: 1.025;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
    padding-left: 3%;
}
.active-btn{
    border: 3.5px solid #fdb409;
    outline: none;
    box-shadow: 1px 1px 10px  #6d600c04;
    margin-left: 10px;
    scale: 1.025;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
    padding-left: 3%;
}

.bottom-menu button:hover{
    border: 3.5px solid #ffffff;
}
.item-menu{
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 4% 2% ;
}

.item-menu button{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 300ms;
    position: inherit;
}
.sub-menu button a{
    text-decoration: none;
    color: black;
     text-shadow: 1px 1px 1px white;
}
/* .item-menu button::before {
    content: "";
    position: absolute;
    background: inherit;
    filter: blur(5px);
} */
.btn-text {
    position: relative;
    z-index: 11; /* Ensure the text is above the blur effect */
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 10px;

}
.item-menu button:hover{
    backdrop-filter: blur(100px);
    scale: 1.055;
    transition: 300ms;
    box-shadow: 1px 1px 10px  #f1e698f5;
}
.item-menu button:focus{
    outline: 3.5px solid var(--border-color-light);
    backdrop-filter: blur(100px);
    scale: 1.055;
    transition: 300ms;
}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
.dark-mode2 {
    background-color: var(--bg-color-dark2);
  }

a {
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: none;
    text-emphasis: none;
    border: none;
}
a:hover{
    text-decoration: none;
    color: rgb(218, 218, 218);
    text-shadow: 1px 1px 1px  #fdb409;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
