
body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.container{
    height: 400px;
    background-color: rgba(137, 43, 226, 0);
    width: 100%;
    display: block;
    font-weight: 400;
    font-style: normal;
    padding-top: 0px;
    
}
.sub-container-1{
    min-height: 100px;
    width: 80%;
    margin: 0px auto;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-top: 0px;

}
.part{
    width: 30%;
    height: 65px;
    background-color: rgba(71, 187, 255, 0);
    padding-top: 0px;
}
.center{
    display: flex;
    justify-content: center;
    height: 65px;
    margin: 0px auto;
    background-color: rgba(89, 71, 255, 0);
    padding-bottom: 20px ;
    padding-top: 0px;

}
.kidzik{
    width: 120px;
    height: 65px;
    margin: 0px auto;
    background-color: rgba(255, 71, 129, 0);
    padding: 0px;
}
.left{
    display: flex;
    justify-content: left;
    padding-top: 20px;

}
.left p{
    margin-right: 60px;
}

.KIDZIK-logo{
    height: 120px;
    width: auto;
    margin: 0px auto;
    padding: 0px;
}
.right{
    display: flex;
    justify-content: right;
    padding-top: 20px;

}
.right p{
    margin-left: 60px;
}

.join-us-button{
    margin-top: 10px;
    margin-left: 45px;
    height: 40px;
    padding: 0px;
    background-color: #fdb409;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-style: normal;
    width: 95px;
}
.join-us-text{
    padding:  0px 0px;
    color: white;
    margin: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
}
.uline{
    color: #fdb409;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1.1rem;

}
.sub-container-2{
    display: flex;
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    min-height: 500px;
}
.box-1{
    width: 40%;
    min-height: 400px;
    background-color: #c8ffc700;
}

.box-1 h3{
    font-size: 1rem;
    font-weight: 300;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.box-1 h1{
    margin-top: 10px;
    color: #141414;
    font-size: 2.8rem;
    font-weight: 800;
}


.span1{
    color: #fdb409;
}
.box-1-h3{
    display: flex;
    align-items: center;
    color: #ff8585;
    

}
.box-1 p{
    font-size: 1rem;
    font-weight: 300;
    margin-left: 10px;
    margin-left: 0px;
}
.play-button{
    margin-top: 10px;
    margin-left: 0px;
    height: 40px;
    padding: 0px;
    background-color: #fdb409;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-style: normal;
    width: 110px;
}
.play-text{
    padding:  0px 0px;
    color: white;
    margin: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
}
.box-2{
    width: 40%;
    min-height: 400px;
    background-color: #313a6100;

}
.box-3{
    width: 20%;
    min-height: 400px;
    background-color: #6a3976;
    display: block;
    padding-top: 60px;
}
.head-row{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}
.row{
    display: flex;
    background-color: brown;
    height: 50px;
    width: 200px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.column-1{
    width: 30%;
    height: 50px;
    background-color: rgb(42, 165, 122);
    text-align: center;

}
.column-1 h5{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #191919;
    margin-top: 5px;

}
.column-2{
    width: 70%;
    height: 50px;
    background-color: rgb(165, 118, 42);

}


.number-line{
    width: 80%;
    height: 5px;
    color: chartreuse;
    background-color: chartreuse;
    padding: 0px;
    margin-top: -110px;
    border-radius: 90px;
    border: none;
}
.main-img{
    width: 550px;
    height: auto;
    margin-left: -30px;
    margin-top: -50px;
}